  <mat-icon class="to-right action-icon" (click)="onClose()">close</mat-icon>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" >
      <div>
        <mat-form-field>
          <input matInput placeholder="Kod klienta" formControlName="ID" />
        </mat-form-field>
        <div *ngIf="formData.controls.ID.errors?.required && (formData.controls.ID.dirty || formData.controls.ID.touched)">
            Kod wymagany.
          </div>
      </div>
      <div>

        <mat-form-field>
          <input matInput placeholder="Nazwa" formControlName="name" id="name"/>
        </mat-form-field>
      </div>
      <div>
        <div class="inline">
          <div class="half margin-right-10">
            <mat-form-field>
              <input matInput placeholder="Ulica" formControlName="street" class="half " />
            </mat-form-field>
          </div>
          <div class="half">
            <mat-form-field>
              <input matInput placeholder="Nr domu/lokalu" formControlName="streetNumber" class="half " />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="inline">
        <div class="half margin-right-10">
          <mat-form-field>
            <input matInput placeholder="Kod pocztowy" formControlName="postalCode" />
          </mat-form-field>
        </div>
        <div class="half">
          <mat-form-field>
            <input matInput placeholder="Miejscowość" formControlName="place" />
          </mat-form-field>
        </div>
      </div>
      <div id="phone-section">
        Telefony
            <button mat-icon-button type="button">
                <mat-icon aria-label="Dodaj" (click)="addPhone()">add</mat-icon>
              </button>
        <div formArrayName="phones"  style="width: 100%">
          <div *ngFor="let phone of formData.get('phones')['controls']; let i=index;">

            <div [formGroupName]="i">
              <table>
                <tr>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Telefon" formControlName="number" />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Etykieta" formControlName="label" />
                    </mat-form-field>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>

      <div id="emails-section">
          Adresy email
              <button mat-icon-button type="button">
                  <mat-icon aria-label="Dodaj" (click)="addEmail()">add</mat-icon>
                </button>
          <div formArrayName="emails"  style="width: 100%">
            <div *ngFor="let email of formData.get('emails')['controls']; let i=index;">
              <div [formGroupName]="i">
                <table>
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Adres email" formControlName="email" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Etykieta" formControlName="label" />
                      </mat-form-field>
                    </td>
                    <td>
                            <mat-checkbox formControlName="primary">Zawsze wysyłaj</mat-checkbox>
                      </td>                    
                  </tr>
                </table>
  
              </div>
            </div>
          </div>
        </div>

      <mat-card-actions>
        <button mat-raised-button type="submit" id="btn-submit">{{ buttonContent }}</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
