@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.hide{
    display: none;
}

.to-right {
    float: right;
}

.action-icon {
    cursor: pointer;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

.notification{
    text-align: center;
}

.success {
    background-color: green;
}

.bolder {
    font-weight: bold;
}